@{
    List<Day> days = Model.Days.ToList();
    List<Lesson> lessons = Model.Lessons.ToList();
    List<TimetableConstraint> timetableConstraints = Model.TimetableConstraints.ToList();
    List<EducatorConstraint> educatorConstraints = Model.EducatorConstraints.ToList();
    List<ClassConstraint> classConstraints = Model.ClassConstraints.ToList();
    List<ClassroomConstraint> classroomConstraints = Model.ClassroomConstraints.ToList();
    List<ClassCourse> classCourses = Model.ClassCourses.ToList();
    List<Course> courses = Model.Courses.ToList();
    int maxLessonCount = 0;
    foreach (var day in Model.Days)
    {
        if (day.LessonCount > maxLessonCount)
            maxLessonCount = day.LessonCount;
    }

    bool FindTimetableConstraint(int dayId, int lessonId)
    {
        return timetableConstraints.Any(tc => tc.DayId == dayId && tc.LessonId == lessonId) ||
               classConstraints.Any(c => c.DayId == dayId && c.LessonId == lessonId) ||
               classroomConstraints.Any(cr => cr.DayId == dayId && cr.LessonId == lessonId);
    }

    string GetConstraintInfo(int dayId, int lessonId)
    {
        var constraint = timetableConstraints.FirstOrDefault(tc => tc.DayId == dayId && tc.LessonId == lessonId);
        if (constraint != null)
        {
            var classCourse = classCourses.FirstOrDefault(cc => cc.ClassCourseId == constraint.ClassCourseId);
            if (classCourse != null)
            {
                var course = courses.FirstOrDefault(c => c.CourseId == classCourse.CourseId);
                if (course != null)
                {
                    return $"{course.CourseName}";
                }
                return $"Course not found for CourseId: {classCourse.CourseId}";
            }
            return $"ClassCourse not found for ClassCourseId: {constraint.ClassCourseId}";
        }
        return "No timetable constraint found";
    }

    bool FindEducatorConstraint(int dayId, int lessonId)
    {
        return educatorConstraints.Any(ec => ec.DayId == dayId && ec.LessonId == lessonId);
    }

}

@model Workspace
<table class="table table-bordered">

    <tr>
        <td style="width: 8%; text-align: center; vertical-align: middle;"></td>
        @foreach (var day in days)
        {
            if (day.LessonCount > 0)
            {
                <td
                    style="width: calc((100% - 8%) / @days.Count()); height: 50px; text-align: center; background-color: rgb(255, 255, 255);">
                    @day.DayOfWeek</td>
            }

        }
    </tr>

    @for (int i = 0; i < maxLessonCount; i++)
    {
        <tr>
            <td style="width: 8%; text-align: center; vertical-align: middle;">
                @(lessons[i].StartTime)-@(lessons[i].EndTime)</td>

            @for (int j = 0; j < Model.Days.Count(); j++)
            {
                if (days[j].LessonCount > 0)
                {
                    if (i < days[j].LessonCount)
                    {

                        @if (FindTimetableConstraint(days[j].DayId, lessons[i].LessonId))
                        {
                            <td style="width: calc((100% - 8%) / @Model.Days.Count()); height: 70px; background-color: #ADD8E6; cursor: pointer; text-align: center; vertical-align: middle;"
                                ondblclick="RemoveConstraint(event, @days[j].DayId, @lessons[i].LessonId)">
                                @GetConstraintInfo(days[j].DayId, lessons[i].LessonId)
                            </td>
                        }
                        else if (FindEducatorConstraint(days[j].DayId, lessons[i].LessonId))
                        {
                            <td style="width: calc((100% - 8%) / @Model.Days.Count()); height: 70px; background-color: #ffe6e6; cursor: pointer; text-align: center; vertical-align: middle;"
                                ondblclick="RemoveConstraint(event, @days[j].DayId, @lessons[i].LessonId)">
                                Closed.
                            </td>
                        }
                        else
                        {
                            <td style="width: calc((100% - 8%) / @Model.Days.Count()); height: 70px; cursor: pointer; text-align: center; vertical-align: middle;"
                                onclick="AddConstraint(event, @days[j].DayId, @lessons[i].LessonId)"
                                onmouseover="this.style.background='#f5f5f5'" onmouseout="this.style.background='white'">
                            </td>
                        }

                    }
                    else
                    {
                        <td
                            style="width: calc((100% - 8%) / @Model.Days.Count()); height: 70px; background-color: #ccc; opacity: 0.5; pointer-events: none;">
                        </td>
                    }
                }
            }
        </tr>
    }
</table>